.text-second {
  color: #00d798;
}

.text-main {
  color: #06264d;
}

.bg-main {
  background-color: #06264d;
}

.text-shadow {
  text-shadow: 1px 2px #fff;
}

header {
  background-image: linear-gradient(45deg, rgba(4, 4, 134, 0.2), #06264d);
}

main .landing-page {
  background-image: url(../images/landing-pagebg.jpg);
  background-size: cover;
}

main .landing-page img.corona-img {
  -webkit-animation: rotateimg 33s linear infinite;
          animation: rotateimg 33s linear infinite;
}

main .symptoms {
  background-image: url(../images/landing-pagebg.jpg);
  background-size: cover;
}

main .symptoms .row .item > div {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

main .symptoms .row .item > div:hover {
  -webkit-transform: translateY(-5px) scale(1.005);
          transform: translateY(-5px) scale(1.005);
  -webkit-box-shadow: 0px 0px 22px #00d798;
          box-shadow: 0px 0px 22px #00d798;
}

main .meet-doc {
  background-image: url(../images/landing-pagebg.jpg);
  background-size: cover;
}

main .meet-doc .br-y {
  border-top: 1px solid #ecf0f3;
  border-bottom: 1px solid #ecf0f3;
}

main .avoid-virus {
  background-image: url(../images/landing-pagebg.jpg);
  background-size: cover;
}

main .should-box {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

main .should-box:hover {
  -webkit-box-shadow: 0px 0px 22px #00d798;
          box-shadow: 0px 0px 22px #00d798;
}

footer {
  background-image: url(../images/footer-bg-3.jpg);
  background-size: cover;
}

@-webkit-keyframes rotateimg {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateimg {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}